/*Width of Log Options*/
.fullWidth
{
	width: 100%; 
}

/*Log Options Submit*/
#addLogsButton
{
	margin-right: auto; 
	margin-left: auto;
	display: block;  
}

.exercise_nodes
{
	padding: 1em; 
	background: #eee; 
	margin: 1em; 
}


.log_header
{
	margin-top: 2em; 
}